@font-face {
    font-family: "Montserrat1";
    src: url(../font/fnt.ttf) format("truetype");
}

body {
    font-family: Montserrat1;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 2em;
}

#inputField,
#submitButton,
#nextButton,
#response,
.loader {
    display: none;
}

h2 {
    margin-top: 10%;
    display: block;
}

.description,
.inputWrapper {
    line-height: 2em;
    margin-bottom: 30px;
}

.description {
    width: 70%;
    max-width: 920px;
}

.inputWrapper {
    width: 50%;
}

input {
    appearance: none;
    border: 1;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 30px;
}

.loader>img {
    height: 50px;
}

button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 12px 60px;
    font-size: 18px;
}

#response {
    margin-top: 5%;
    padding: 30px 50px;
    border-radius: 5px;
}

@media screen and (max-width : 600px) {
    h2 {
        /* width: 98%; */
    }

    .description {
        width: 95%;
        max-width: 920px;
    }

    .inputWrapper {
        width: 95%;
    }
}